<h1>Orders</h1>

<div id="browse" style="display: block">
<form class="pure-form">
    <fieldset>
        <select name="filter-orders" id="filter-orders" onchange="filterTable()" required>
            <option value=''>Filter by restaurant name</option>
            {{#each restaurants}}
                <option value="{{this.location}}">{{this.location}}</option>
            {{/each}}
        </select>
    </fieldset>
</form>
<p><strong>Browse Orders</strong></p>
<table class="pure-table pure-table-bordered" id="orders-table">
    <thead>
        <tr>
            {{#each orders.[0]}}
            {{#isnt @key 'restaurantName'}}
            {{#isnt @key 'patronName'}}
            <th>
                {{@key}}
            </th>
            {{/isnt}}
            {{/isnt}}
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.restaurantName}}</td>
            <td>{{this.patronName}}</td>
            <td>{{default this.totalAmount 0}}</td>
            <td>{{this.orderDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>

<p>&nbsp;</p>
{{!-- Form to add a record to the table  --}}
<h2>Add Order</h2>
<p>To add a new item, please enter its information below and click 'Submit'!</p>
<form class="pure-form pure-form-aligned" id="add-orders-form-ajax">
    <fieldset>
          <div class="pure-control-group">
            <label for="input-restaurantID">restaurantID:</label>
            <select name="input-restaurantID" id="input-restaurantID" required>
                <option value="">Select a restaurant</option>
                {{#each restaurants}}
                    <option value="{{this.restaurantID}}">{{this.location}}</option>
                {{/each}}
            </select>
        </div>

          <div class="pure-control-group">
            <label for="input-patronID">patronID:</label>
            <select name="input-patronID" id="input-patronID" required>
                <option value="">Select a patron</option>
                {{#each patrons}}
                    <option value="{{this.patronID}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="pure-control-group">
            <label for="input-orderDate">orderDate: </label>
            <input type="date" name="input-orderDate" id="input-orderDate">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/orders.js"></script>

<script>
    // Adapted from https://stackoverflow.com/questions/9127498/how-to-perform-a-real-time-search-and-filter-on-a-html-table
    function filterTable() {
        // Declare variables 
        let inputValue = document.getElementById("filter-orders").value
        let table = document.getElementById("orders-table")
        let tr = table.getElementsByTagName("tr")

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")

            for(j=0 ; j<td.length ; j++) {
                let tdata = td[j]

                if (tdata) {
                    if (tdata.innerHTML.indexOf(inputValue) > -1) {
                        tr[i].style.display = ""
                        break
                    } else {
                        tr[i].style.display = "none"
                    }
                } 
            }
        }
    }
</script>