<h1>Orders with Items</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<table class="pure-table pure-table-bordered" id="ordersWithItems-table">
    <thead>
        <tr>
            {{#each ordersWithItems.[0]}}
            {{#isnt @key 'itemName'}}
            <th>
                {{@key}}
            </th>
            {{/isnt}}
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each ordersWithItems}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.itemName}}</td>
            <td>{{this.itemQuantity}}</td>
            <td>{{toFixed this.itemTotalAmount 4}}</td>
            <td><button onclick="deletePerson({{this.orderID}}, {{this.itemID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>
{{!-- Form to add a record to the table  --}}
<h2>Add Item to Order</h2>
<p>To add a new item, please enter its information below and click 'Submit'!</p>
<p>Combinations of orderID and itemID must be unique</p>
<form class="pure-form pure-form-aligned" id="add-ordersWithItems-form-ajax">
    <fieldset>
        <div class="pure-control-group">
            <label for="input-orderID">orderID:</label>
            <select name="input-orderID" id="input-orderID" required>
                <option value="">Select an orderID</option>
                {{!--{{#each (unique (pluck data "orderID"))}}{{.}} --}}
                {{#each orders}}
                    <option value="{{this.orderID}}">{{this.orderID}}</option>
                {{/each}}
            </select>
        </div>

        <div class="pure-control-group">
            <label for="inpute-ItemId">itemID:</label>
            <select name="input-itemID" id="input-itemID" onchange="updateTotalAmount()" required>
                <option value="">Select an item</option>
                {{!--{{#each (unique (pluck data "orderID"))}}{{.}} --}}
                {{#each items}}
                    <option value="{{this.itemID}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="pure-control-group">
            <label for="input-itemQuantity">itemQuantity: </label>
            <input type="number" name="input-itemQuantity" id="input-itemQuantity" onkeyup="updateTotalAmount()" required>
        </div>

        <div class="pure-control-group">
            <label for="input-itemTotalAmount">itemTotalAmount: </label>
            <input type="number" min="0.01" step="0.01" name="input-itemTotalAmount" id="input-itemTotalAmount" required>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>


<p>&nbsp;</p>
{{!-- Form to update a record to the table  --}}
<h2>Updating A User's HomeWorld Form</h2>
<p>To update a specific user's homeworld select their name from the drop-down menu on the left and their desired homeworld from the drop down menu on the right</p>
<fieldset>
    <form id="update-person-form-ajax">
        <label for="input-fullname">Full name: </label>
        <select name="input-fullname" id="mySelect">
            <option value="test">Select a Person</option>
            {{#each data}}
            <option value="{{this.id}}">{{this.fname}} {{this.lname}}</option>
            {{/each}}
        </select>
        <label for="input-homeworld">Homeworld: </label>
        <select name="input-homeworld" id="input-homeworld-update">
            <option>Select a Planet</option>
            {{#each planets}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <input type="submit">
    </form>
</fieldset>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/ordersWithItems.js"></script>

<script>
    // https://stackoverflow.com/questions/53637874/set-value-to-input-field-onchange-from-other-input-field
    function updateTotalAmount() {
        let item = document.getElementById('input-itemID').value
        let quantity = document.getElementById('input-itemQuantity').value
        amount = document.getElementById('input-itemTotalAmount')

        if (item != '' && quantity != 0) {
            let price = 0
            {{#each items}}
                if ({{this.itemID}} == item) {
                    price = {{this.itemPrice}}
                }
            {{/each}}
            
            // https://stackoverflow.com/questions/6134039/format-number-to-always-show-2-decimal-places
            amount.value = Number(quantity*price).toFixed(4)
        } else {
            amount.value = ''
        }

    }
</script>
