<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Orders with Items</h1>

<table class="pure-table pure-table-bordered" id="ordersWithItems-table">
    <thead>
        <tr>
            {{#each ordersWithItems.[0]}}
            {{#isnt @key 'itemName'}}
            <th>
                {{@key}}
            </th>
            {{/isnt}}
            {{/each}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each ordersWithItems}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.itemName}}</td>
            <td>{{this.itemQuantity}}</td>
            <td>{{toFixed this.itemTotalAmount 4}}</td>
            <div class="pure-controls">
                <td><button onclick="deletePerson({{this.orderID}}, {{this.itemID}})"
                    class="pure-button pure-button-primary">Delete</button></td>
            </div>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>
{{!-- Form to add a record to the table  --}}
<h2>Add Item to Order</h2>
<p>To add a new item, please enter its information below and click 'Submit'!</p>
<p>Combinations of orderID and itemID must be unique, duplicates will not be added</p>
<form class="pure-form pure-form-aligned" id="add-ordersWithItems-form-ajax">
    <fieldset>
        <div class="pure-control-group">
            <label for="input-orderID">orderID:</label>
            <select name="input-orderID" id="input-orderID" required>
                <option value="">Select an orderID</option>
                {{!--{{#each (unique (pluck data "orderID"))}}{{.}} --}}
                {{#each orders}}
                    <option value="{{this.orderID}}">{{this.orderID}}</option>
                {{/each}}
            </select>
        </div>

        <div class="pure-control-group">
            <label for="inpute-ItemId">itemID:</label>
            <select name="input-itemID" id="input-itemID" onchange="addTotalAmount()" required>
                <option value="">Select an item</option>
                {{!--{{#each (unique (pluck data "orderID"))}}{{.}} --}}
                {{#each items}}
                    <option value="{{this.itemID}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="pure-control-group">
            <label for="input-itemQuantity">itemQuantity: </label>
            <input type="number" name="input-itemQuantity" id="input-itemQuantity"
                onchange="addTotalAmount()" onkeyup="addTotalAmount()" required>
        </div>

        <div class="pure-control-group">
            <label for="input-itemTotalAmount">itemTotalAmount: </label>
            <input type="number" min="0.00" step="0.01" name="input-itemTotalAmount"
                id="input-itemTotalAmount" required>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>


<p>&nbsp;</p>
{{!-- Form to update a record to the table  --}}
<h2>Updating Item in Order </h2>
<p>To update a specific item in an order select the correct orderWithItem
    from the drop-down menu and enter the correct quantity and total amount</p>

<form class="pure-form pure-form-aligned" id="update-orderWithItems-form-ajax">
    <fieldset>
        <div class ="pure-control-group">
            <label for="update-orderWithItem">orderWithItem: </label>
            <select name="update-orderWithItem" id="update-orderWithItem" onchange="updateTotalAmount()" required>
                <option value="">Select an orderWithItem</option>
                {{#each ordersWithItems}}
                <option value={{JSONstringify this}}>orderID: {{this.orderID}}, itemName: {{this.itemName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="update-itemQuantity">itemQuantity: </label>
            <input type="number" name="update-itemQuantity" id="update-itemQuantity" min="1"
                onchange="updateTotalAmount()" onkeyup="updateTotalAmount()" required>
        </div>

        <div class="pure-control-group">
            <label for="update-itemTotalAmount">itemTotalAmount: </label>
            <input type="number" min="0.00" step="0.01" name="update-itemTotalAmount"
                id="update-itemTotalAmount" required>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>



{{!-- Scripts --}}
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/ordersWithItems.js"></script>

<script>
    // https://stackoverflow.com/questions/53637874/set-value-to-input-field-onchange-from-other-input-field
    function addTotalAmount() {
        let item = document.getElementById('input-itemID').value
        let quantity = document.getElementById('input-itemQuantity').value
        var amount = document.getElementById('input-itemTotalAmount')

        if (item != '' && quantity != 0) {
            let price = 0
            {{#each items}}
                if ({{this.itemID}} == item) {
                    price = {{this.itemPrice}}
                }
            {{/each}}
            
            // https://stackoverflow.com/questions/6134039/format-number-to-always-show-2-decimal-places
            amount.value = Number(quantity*price).toFixed(4)
        } else {
            amount.value = ''
        }
    }
</script>

<script>
    // https://stackoverflow.com/questions/53637874/set-value-to-input-field-onchange-from-other-input-field
    function updateTotalAmount() {
        let itemValue = document.getElementById('update-orderWithItem').value
        let quantity = document.getElementById('update-itemQuantity').value
        var amount = document.getElementById('update-itemTotalAmount')

        if (itemValue != '' && quantity != 0) {
            let itemJSON = JSON.parse(itemValue)


            let price = 0
            {{#each items}}
                if ({{this.itemID}} == itemJSON.itemID) {
                    price = {{this.itemPrice}}
                }
            {{/each}}
            
            // https://stackoverflow.com/questions/6134039/format-number-to-always-show-2-decimal-places
            amount.value = Number(quantity*price).toFixed(4)
        } else {
            amount.value = ''
        }
    }
</script>
