<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Patrons</h1>

<div id="browse" style="display: block">
<p><strong>Browse Patrons</strong></p>
<table class="pure-table pure-table-bordered" id="patrons-table">
    <thead>
        <tr>
            {{#each patrons.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each patrons}}
        <tr>
            <td>{{this.patronID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phoneNum}}</td>
            <td>{{this.address}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>

<p>&nbsp;</p>
{{!-- Form to add a record to the table  --}}
<h2>Add Patron</h2>
<p>To add a new patron, please enter its information below and click 'Submit'!</p>
<form class="pure-form pure-form-aligned" id="add-patrons-form-ajax">
    <fieldset>
        <div class="pure-control-group">
            <label for="input-name">name: </label>
            <input type="text" name="input-name" id="input-name" required>
        </div>

        <div class="pure-control-group">
            <label for="input-phoneNum">phoneNum: </label>
            <input type="text" name="input-phoneNum" id="input-phoneNum">
        </div>

        <div class="pure-control-group">
            <label for="input-address">address: </label>
            <input type="text" name="input-address" id="input-address">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/patrons.js"></script>